@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

body {
    background-color: #48DAF7;
}

#boxes-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: solid #F74891 40px;
    border-top: solid #F74891 10px;
    margin: auto;
    gap: 1px;
}

#EAS-title {
    font-family: 'Patrick Hand';
    font-size: 30px;
    font-style: oblique;
    font-weight: bolder;
    color: #F7E648;
    margin: auto;
    width: 500px;
    text-align: center;
    background-color: #F74891;
    border-left: solid #F74891 40px;
    border-right: solid #F74891 40px;
    border-top: solid #F74891 10px;
}

#box {
    background-color: white;
    border: solid 2px grey;
}

label {
    color: white;
}

#grid-radio-btns {
    display: flex;
    justify-content: space-between;
}

.radio-btn {
    display: flex;
    flex-direction: column-reverse;
    font-size: smaller;
}